# Pandas

Much of the code from https://www.kaggle.com/learn/pandas

In [1]:
import pandas as pd
pd.set_option('max_rows', 5)

In [3]:
#basic pandas frame

fruits = pd.DataFrame([[30, 21]], columns=['Apples', 'Bananas'])
fruits

   Apples  Bananas
0      30       21

In [6]:
#Adding extra rows, indexes

fruit_sales = pd.DataFrame([[35, 21], [41, 34]], columns=['Apples', 'Bananas'],
                index=['2017 Sales', '2018 Sales'])
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [8]:
#Using a series to create the table

quantities = ['4 cups', '1 cup', '2 large', '1 can']
items = ['Flour', 'Milk', 'Eggs', 'Spam']
recipe = pd.Series(quantities, index=items, name='Dinner')

recipe

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [ ]:
#Read in a csv file where the first row is the column headers

reviews = pd.read_csv("../input/wine-reviews/winemag-data_first150k.csv", index_col=0)

In [9]:
#Save a dataframe to csv
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

animals.to_csv("cows_and_goats.csv")

In [ ]:
#Import data from sqlite

import sqlite3
conn = sqlite3.connect("../input/pitchfork-data/database.sqlite")
music_reviews = pd.read_sql_query("SELECT * FROM artists", conn)

music_reviews

In [11]:
#Look at the top rows of data using the head function

animals.head()

        Cows  Goats
Year 1    12     22
Year 2    20     19

## Reading from SQL DB

In [ ]:
#Basic import from SQL

## From SQL to DataFrame Pandas
import pandas as pd
import pyodbc

sql_conn = pyodbc.connect('DRIVER={ODBC Driver 13 for SQL Server};
                            SERVER=SQLSERVER2017;
                            DATABASE=Adventureworks;
                            Trusted_Connection=yes') 
query = "SELECT [BusinessEntityID],[FirstName],[LastName],
                 [PostalCode],[City] FROM [Sales].[vSalesPerson]"
df = pd.read_sql(query, sql_conn)

df.head(3)

## Saving to a SQL DB

First ensure a table is created (see example)

USE AdventureWorks;
GO
DROP TABLE IF EXISTS vSalesPerson_test;
GO
CREATE TABLE vSalesPerson_test(
[BusinessEntityID] INT
,[FirstName] VARCHAR(50)
,[LastName] VARCHAR(100))

In [ ]:
#Then insert the data

connStr = pyodbc.connect('DRIVER={ODBC Driver 13 for SQL Server};
                            SERVER=SQLSERVER2017;
                            DATABASE=Adventureworks;
                            Trusted_Connection=yes')
cursor = connStr.cursor()

for index,row in df.iterrows():
.. cursor.execute("INSERT INTO dbo.vSalesPerson_test([BusinessEntityID],
                        [FirstName],[LastName]) 
                         values (?, ?,?)", row['BusinessEntityID'], 
                                           row['FirstName'], 
                                           row['LastName']) 
.. connStr.commit()
cursor.close()
connStr.close()

## Selecting data from dataframes

In [ ]:
#creates desc series and sets the description column in the reviews dataframe to it

desc = reviews.description

In [ ]:
#select the first description and set it to the first_description series

first_description = reviews.description.iloc[0]

In [ ]:
#select the first row

first_row = reviews.iloc[0]

In [ ]:
#select the first 10 rows

first_descriptions = reviews.description.iloc[:10]

In [ ]:
#select only certain rows

indices = [1, 2, 3, 5, 8]
sample_reviews = reviews.loc[indices]

In [ ]:
#more complex select using indices and columns

cols = ['country', 'province', 'region_1', 'region_2']
indices = [0, 1, 10, 100]
df = reviews.loc[indices, cols]

In [ ]:
#selects certain columns and sets up a df that selects the top 100 rows of the reviews df

cols = ['country', 'variety']
df = reviews.head(100).loc[:,cols]

In [ ]:
#creates a series where the reviews are from Italy

italian_wines = reviews[reviews.country == 'Italy']

In [ ]:
#Selects reviews from Australia and NZ & reviews are 95 and above

top_oceania_wines = reviews[
    (reviews.country.isin(['Australia', 'New Zealand']))
    & (reviews.points >= 95)
]