# Python Basics

## Operators

| Operator | Name   |  Example
|------|------|------|
|   +  | addition| x = 5 y = 3 print(x + y)|
|   -  | subtraction|x = 5 y = 3 print(x - y)|
|   *  | multiplication|x = 5 y = 3 print(x * y)|
|   /  | division|x = 5 y = 3 print(x / y)|
|   %  | modulus|x = 5 y = 2 print(x / y)|
|   ** | exponents|x = 5 y = 2 print(x ** y)|
|   // | floor division|x = 5 y = 2 print(x ** y)|


## Comparison Operators
| Operation | Description   |  Operation | Description
|------|------|------|------|
|   a == b  | a equal to b| a != b|a not equal to b|
|   a < b | a less than b| a > b|a greater than b|
|   a <= b | a less than or equal to b| a >= b|a greater than or equal to b|

More here: https://www.w3schools.com/python/python_operators.asp

## Help

help(abs)

## Functions

def least_difference(a, b, c):
    """Put something here to describe what the function does and it will show up when you run 'help(least_difference)'.
    
    >>> least_difference(1, 5, -5)
    4
    """
    diff1 = abs(a - b)
    diff2 = abs(b - c)
    diff3 = abs(a - c)
    return min(diff1, diff2, diff3)

In [8]:
def least_difference(a, b, c):
    """Put something here to describe what the function does and it will show up when you run 'help(least_difference)'.
    
    >>> least_difference(1, 5, -5)
    4
    """
    diff1 = abs(a - b)
    diff2 = abs(b - c)
    diff3 = abs(a - c)
    return min(diff1, diff2, diff3)

In [9]:
help(least_difference)

Help on function least_difference in module __main__:

least_difference(a, b, c)
    Put something here to describe what the function does and it will show up when you run 'help(least_difference)'.

    >>> least_difference(1, 5, -5)
    4

## Complex Print Statement

In [10]:
def mod_5(x):
    """Return the remainder of x after dividing by 5"""
    return x % 5

print(
    'Which number is biggest?',
    max(100, 51, 14),
    'Which number is the biggest modulo 5?',
    max(100, 51, 14, key=mod_5),
    sep='\n',
)

Which number is biggest?
100
Which number is the biggest modulo 5?
14

## Lambda Functions

In [11]:
mod_5 = lambda x: x % 5

# Note that we don't use the "return" keyword above (it's implicit)
# (The line below would produce a SyntaxError)
#mod_5 = lambda x: return x % 5

print('101 mod 5 =', mod_5(101))

101 mod 5 = 1

In [12]:
# Lambdas can take multiple comma-separated arguments
abs_diff = lambda a, b: abs(a-b)
print("Absolute difference of 5 and 7 is", abs_diff(5, 7))

Absolute difference of 5 and 7 is 2

In [13]:
# Or no arguments
always_32 = lambda: 32
always_32()

32

In [14]:
# Preview of lists and strings. (We'll go in depth into both soon)
# - len: return the length of a sequence (such as a string or list)
# - sorted: return a sorted version of the given sequence (optional key 
#           function works similarly to max and min)
# - s.lower() : return a lowercase version of string s
names = ['jacques', 'Ty', 'Mia', 'pui-wa']
print("Longest name is:", max(names, key=lambda name: len(name))) # or just key=len
print("Names sorted case insensitive:", sorted(names, key=lambda name: name.lower()))

Longest name is: jacques
Names sorted case insensitive: ['jacques', 'Mia', 'pui-wa', 'Ty']

## If Statements

In [15]:
def f(x):
    if x > 0:
        print("Only printed when x is positive; x =", x)
        print("Also only printed when x is positive; x =", x)
    print("Always printed, regardless of x's value; x =", x)

f(1)
f(0)

Only printed when x is positive; x = 1
Also only printed when x is positive; x = 1
Always printed, regardless of x's value; x = 1
Always printed, regardless of x's value; x = 0

In [19]:
def sign(num):
    if num < 0:
        return(-1)
    elif num > 0:
        return(1)
    else:
        return(0)
    
sign(-10)

-1

Put an if within a print statement (useful for things like singular and plural grammar in print statement)

Note that this won't run.

In [20]:
print("Splitting", total_candies, "candy" if total_candies == 1 else "candies")

NameError: name 'total_candies' is not defined

## Booleans

In [16]:
print(bool(1)) # all numbers are treated as true, except 0
print(bool(0))
print(bool("asf")) # all strings are treated as true, except the empty string ""
print(bool(""))
# Generally empty sequences (strings, lists, and other types we've yet to see like lists and tuples)
# are "falsey" and the rest are "truthy"

True
False
True
False

## Lists

In [7]:
#Basic
primes = [2, 3, 5, 7]

planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

#Multiple Items
hands = [
    ['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A', 'K'], # (Comma after the last element is optional)
]

#or on one line

hands = [['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

#Looking up items

planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
#0 is the first item in a list, 1 is the second, etc
planets[0]

#shows the last item, -2 would show the next to last item
planets[-1]

#show multiple items, from index 0 and continuing up to but not including index 3.
planets[0:3]

#The starting and ending indices are both optional. If I leave out the start index, 
#it's assumed to be 0. So I could rewrite the expression above as:
planets[:3]

#Show all items from index 3 and on
planets[3:]

#Show first and last items
planets[1:-1]

#Show last three items
planets[-3:]

#Show index for certain item
planets.index('Earth')

#Is an item in a list? (returns True or False)
"Earth" in planets

#Changing items in a list (mutating lists)
##Changes the item at index position 3
planets[3] = 'Malacandra'
planets

##Change the items from index position 3 and on
planets[:3] = ['Mur', 'Vee', 'Ur']

## List Functions

In [6]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

#Length (number of items in the list)
len(planets)

#Sorts in alphabetical order
sorted(planets)

#Sums, min, max items in list
primes = [2, 3, 5, 7]
sum(primes)
min(primes)
max(primes)

#more examples https://www.programiz.com/python-programming/list

7

## Tuples

Tuples are like lists, but you can't change them (immutable).

Often used when you need to output something with 2 values (ratios 1 and 6)

In [8]:
#Creating a tuple
t = (1, 2, 3)

#or 

t = 1, 2, 3

#Outputs the ratio of .125 (1, 8)
x = 0.125
x.as_integer_ratio()

#values from .as_integer_ratio can be fed into fuctions like below
numerator, denominator = x.as_integer_ratio()
print(numerator / denominator)

0.125

## For Loops

In [10]:
#For Loops
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
for planet in planets:
    print(planet, end=' ') # print all on same line
    
multiplicands = (2, 2, 2, 3, 3, 5)
product = 1
for mult in multiplicands:
    product = product * mult
product

#text manipulation
s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'
msg = ''
# print all the uppercase letters in s, one at a time
for char in s:
    if char.isupper():
        print(char, end='')  
        
#ranges
#range() is a function that returns a sequence of numbers. It turns out to be very useful for writing loops.

#For example, if we want to repeat some action 5 times:

for i in range(5):
    print("Doing important work. i =", i)

#assigns roman numerals with a loop    
nums = [
    ('one', 1, 'I'),
    ('two', 2, 'II'),
    ('three', 3, 'III'),
    ('four', 4, 'IV'),
]

for word, integer, roman_numeral in nums:
    print(integer, word, roman_numeral, sep=' = ', end='; ')
    
#another way to write it
for tup in nums:
    word = tup[0]
    integer = tup[1]
    roman_numeral = tup[2]
    print(integer, word, roman_numeral, sep=' = ', end='; ')

Mercury Venus Earth Mars Jupiter Saturn Uranus Neptune HELLODoing important work. i = 0
Doing important work. i = 1
Doing important work. i = 2
Doing important work. i = 3
Doing important work. i = 4
1 = one = I; 2 = two = II; 3 = three = III; 4 = four = IV; 1 = one = I; 2 = two = II; 3 = three = III; 4 = four = IV;

## While Loops

In [11]:
i = 0
while i < 10:
    print(i, end=' ')
    i += 1

0 1 2 3 4 5 6 7 8 9

## List comprehensions

List comprehensions are similar to the where statement in SQL.

In [12]:
squares = [n**2 for n in range(10)]
squares

squares = []
for n in range(10):
    squares.append(n**2)
squares

short_planets = [planet for planet in planets if len(planet) < 6]
short_planets

#similar to a where clause in SQL

[
    planet.upper() + '!' 
    for planet in planets 
    if len(planet) < 6
]

#This code can be written the same way with the code below it
def count_negatives(nums):
    """Return the number of negative numbers in the given list.
    
    >>> count_negatives([5, -1, -2, 0, 3])
    2
    """
    n_negative = 0
    for num in nums:
        if num < 0:
            n_negative = n_negative + 1
    return n_negative


def count_negatives(nums):
    return len([num for num in nums if num < 0])

## Strings

In [13]:
#Comparing strings

x = 'Pluto is a planet'
y = "Pluto is a planet"
x == y

#Single and double quote gotchas

#Double quotes are convenient if your string contains a single quote character (e.g. representing an apostrophe).

#Similarly, it's easy to create a string that contains double-quotes if you wrap it in single quotes:

print("Pluto's a planet!")
print('My dog is named "Pluto"')

#escaping character is \, use this if the above doesn't work for whatever reason
print('Pluto\'s a planet!')

Pluto's a planet!
My dog is named "Pluto"
Pluto's a planet!

Newlines

hello = "hello\nworld"
print(hello)

In [14]:
#slicing part of a string

planet = 'Pluto'
planet[0]

#output 'P'

planet[-3:]

#output 'uto'

# How long is this string?
len(planet)

# Yes, we can even loop over them
[char+'! ' for char in planet]

['P! ', 'l! ', 'u! ', 't! ', 'o! ']

String Methods

capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning

https://www.w3schools.com/python/python_ref_string.asp

In [15]:
#combines strings

planet + ', we miss you.'

'Pluto, we miss you.'

In [16]:
#gotcha -- use str(position) if you need to insert a variable into the string

position = 9
planet + ", you'll always be the " + str(position) + "th planet to me."

"Pluto, you'll always be the 9th planet to me."

In [17]:
#can also be written like this
"{}, you'll always be the {}th planet to me.".format(planet, position)

"Pluto, you'll always be the 9th planet to me."

In [18]:
pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390
#         2 decimal points   3 decimal points, format as percent     separate with commas
"{} weighs about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} Plutonians.".format(
    planet, pluto_mass, pluto_mass / earth_mass, population,
)

"Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians."

In [19]:
# Referring to format() arguments by index, starting from 0
s = """Pluto's a {0}.
No, it's a {1}.
{0}!
{1}!""".format('planet', 'dwarf planet')
print(s)

Pluto's a planet.
No, it's a dwarf planet.
planet!
dwarf planet!

## Dictionaries

Dictionaries map values to each other, unlike lists that are just lists of things.

In [20]:
numbers = {'one':1, 'two':2, 'three':3}

numbers['one']

1

In [21]:
#Or to change the value associated with an existing key

numbers['one'] = 'Pluto'
numbers

{'one': 'Pluto', 'two': 2, 'three': 3}

In [23]:
#Setting a list up as a dictionary that uses the first letter as a key

planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = {planet: planet[0] for planet in planets}
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [24]:
#Looks up to see if Saturn exists in the dictionary

'Saturn' in planet_to_initial

True

In [25]:
#A for loop over a dictionary will loop over its keys
for k in numbers:
    print("{} = {}".format(k, numbers[k]))

one = Pluto
two = 2
three = 3

In [26]:
# Get all the initials, sort them alphabetically, and put them in a space-separated string.
' '.join(sorted(planet_to_initial.values()))

'E J M M N S U V'

In [27]:
#The very useful dict.items() method lets us iterate over the keys and values of a dictionary simultaneously. 
#(In Python jargon, an item refers to a key, value pair)

for planet, initial in planet_to_initial.items():
    print("{} begins with \"{}\"".format(planet.rjust(10), initial))

   Mercury begins with "M"
     Venus begins with "V"
     Earth begins with "E"
      Mars begins with "M"
   Jupiter begins with "J"
    Saturn begins with "S"
    Uranus begins with "U"
   Neptune begins with "N"

## External Libraries

In [ ]:
#Import all fuctions from a library
import math

#Import all fuctions, but rename how you call it
import math as mt
mt.pi

#import * makes all the module's variables directly accessible to you (without any dotted prefix).
#not exactly a best practice though, tends to cause problems
from math import *
print(pi, log(32, 2))

#BEST PRACTICE -- only import exactly what you need when you import
from math import log, pi
from numpy import asarray